
/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
}

/* Main Section Styles */
/* main {
    padding: 20px;
} */

.featured {
    background-image: url('img/featured.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
    position: relative;
}

.featured::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.featured-content {
    position: relative;
    z-index: 1;
}

.featured h1 {
    font-size: 48px;
    margin-bottom: 20px;
    
}

featured p {
    font-size: 18px;
    margin-bottom: 20px;
    
}

.featured button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: yellow;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.featured button:hover {
    background-color: #9ea30d;
}

/* Movies and TV Shows Section Styles */
.movies, .tv-shows {
    margin-bottom: 40px;
}

.movies h2, .tv-shows h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.movie-list, .tv-show-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.movie-list img, .tv-show-list img {
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.movie-list img:hover, .tv-show-list img:hover {
    transform: scale(1.1);
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    position: relative;
    bottom: 0;
    width: 100%;
}
