*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    padding: 20px;
    background-color: #141414;
}

header h1 {
    display: inline-block;
    font-size: 2rem;
    color: yellow;
}
/* navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1 {
    font-size: 2rem;
    color: yellow;
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
}

.search{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.search-input {
    background-color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.profile-icon {
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
}


/*Main screen*/
main {
    padding: 20px;
}

/* Category section */
.category {
    position: relative;
    margin-bottom: 40px;
}

.category h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Shows card */
.shows {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    
}

.show-card {
    width: 150px;
    flex: 0 0 auto; 
    margin-right: 10px;
}

.show-card:hover {
    transition: all 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

/* For Scroll bar functionality */
.shows:active {
    cursor: grabbing; /* Change cursor on active drag */
}
/*  */

/* image styles */
.imgLink{
    text-decoration: none;

}
.show-card img {
    width: 100%;
    border-radius: 5px;
}

/* popup div */


/* Styles for the modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    display: flex;
    flex-direction: row;
}

/* Close button */
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h2,p{
    color: #000;
    margin: 5px;
}


.pop-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 20px;
}

/* arrow settings */

.arrow-left {
    background-color: yellow;
    color: black;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    z-index: 6;
}

.arrow-right{
    background-color: yellow;
    color: black;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    z-index: 6;
}

.arrow-left:hover, .arrow-right:hover{
    background-color: black;
    color:yellow;
}


/* Loading Spinner Styles */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
  }

  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #f7f313;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }